<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :agent %>
    <%= form.text_field :agent %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>
  <div class="field">
    <%= form.label :progress_type %>
    <%= form.select(:progress_type, options_for_select([['Delivered', 'Delivered'], ['Pending Delivery', 'Pending Delivery']])) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
